node_modules
npm-debug.log
.idea
submit.iml
frontend/dest/app.css
target
configuration.yaml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Elm stuff
elm-stuff
