.edit-submission {
  background: @white;
  padding: 4em;
}

.edit-submission .input-section {
  margin-bottom: 5em;
}

.edit-submission .input-section h2 {
  font-size: 3em;
}

.edit-submission .input-section .input-description {
  font-size: 1.4em;
  max-width: 40em;
}

.edit-submission .input-section input, .edit-submission .input-section textarea {
  width: 50em;
  font-size: 1.6em;
  line-height: 1.5;
  color: @text;
  padding: 1em;
  border: 1px solid @grey;
}

.edit-submission .input-section textarea {
  height: 20em;
}

.edit-submission .speakers {
  margin: 2em 0;
  padding: 0;
}

.edit-submission .speaker {
  list-style: none;
  padding: 1em 2em;
  margin: 0 0 1em 0;
  background: @grey--light;
}

.edit-submission .speaker .speaker-input-section h3 {
  font-size: 1.5em;
}

.edit-submission .speaker .speaker-header {
  display: flex;
  justify-content: space-between;
}

.edit-submission .speaker .speaker-header .speaker-header-button {
  display: flex;
  align-items: center;
}