@import 'colors';

body {
    margin: 0;
    padding: 0;
    background: @black;
    color: @text;
    font-size: 10px;
    line-height: 1.5;
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 4em;
}
h2 {
    font-size: 2em;
}

button {
    background-color: @green--dark;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.wrapper {
    width: 100em;
    margin: 0 auto;
    padding: 2em;
}

.wrapper .logo-wrapper {
    margin: 2em auto 5em auto;
    width: 20em;
}
.wrapper .logo {
    width: 20em;
    margin: 0 auto;
}

.sticky-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.sticky-footer-content {
  width: 100em;
  margin: 0 auto;
  padding: 2em;
  box-sizing: border-box;
  background: @white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}

.sticky-footer-filler {
    height: 5em;
}

.flex-header {
  display: flex;
  justify-content: space-between;
}

.flex-header-element {
  display: flex;
  align-items: center;
}

@import 'login';
@import 'submissions-list';
@import 'edit-submission';
