@import 'colors';

body {
    margin: 0;
    padding: 0;
    background: @black;
    color: @text;
    font-size: 10px;
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 4em;
}
h2 {
    font-size: 2em;
}

button {
    background-color: @green--dark;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.wrapper {
    width: 100em;
    margin: 0 auto;
    padding: 2em;
}

.wrapper .logo-wrapper {
    margin: 2em auto 5em auto;
    width: 20em;
}
.wrapper .logo {
    width: 20em;
    margin: 0 auto;
}

@import 'login';
@import 'submissions-list';
@import 'edit-submission';
