.submissions-list {
  background: #fff;
  padding: 2em;
}

.submissions-list .submissions-header {
  display: flex;
  justify-content: space-between;
}
.submissions-list .submissions-header h1 {
}
.submissions-list .submissions-header .submissions-new {
  width: 20em;
}

.submissions-list .submission {
  display: flex;
  text-decoration: none;
  color: #333;
  padding: 1em;
  font-size: 2em;
}

.submissions-list .submission:hover {
  background-color: #ddd;
}

.submissions-list .submission .title {
  width: 80%;
}

.submissions-list .submission .status {
  text-transform: uppercase;
  width: 15%;
}

.submissions-list .submission .open-arrow {
  width: 5%;
  text-align: right;
}