@import 'tron-font';
@import 'eurostile-font';

@logo: 'assets/bekk-logo.png';

@font-body: 'Open Sans', serif;
@font-header: 'eurostile', 'Open Sans', sans-serif;
@font-frontpage: 'Open Sans', sans-serif;

@black: #1A1A1A;
@burgundy: #FD5158;
@red--light: #ff4f4c;
@orange: #ff8641;
@yellow: #fcaf17;
@green--light: #149089;
@green--dark: #36BDB2;

@white: #fafafa;
@grey: fade(@black, 50%);
@grey--light: fade(@black, 10%);

@text: fade(@black, 80%);

@list: fade(@black, 5%);
@list--hover: fade(@black, 15%);
